package view

import "github.com/gtantech/p2/internal/models/viewmodels"

templ Button(params viewmodels.HtmlButton){
    <button
        type="button"
        class={ params.Class }
        title={ params.Title }
    >
        { params.Text }
    </button>
}

templ DependencyTableRowAddButton(params viewmodels.HtmlDependencyTableRowButton){
    <button
        type="button"
        class={ params.Class }
        title={ params.Title }
        
        hx-post={ params.HxPost }
        hx-vals={ params.HxVals }
        hx-target="closest tr"
        hx-swap="afterend"
    >
        { params.Text }
    </button>
}