package view

import "github.com/gtantech/p2/internal/models/viewmodels"
import "github.com/gtantech/p2/internal/models/jsonmodels"

import "strings"
import "time"
import "uuid"
import "fmt"

templ TextInput(params *viewmodels.HtmxInput){
    <input
        id={ params.Id }
        type="text"
        name={ params.Name }
        class={ params.Class }
        placeholder={ params.Placeholder }
        autocomplete={ params.Autocomplete }
        value={ params.Value }
        { params.Hx... }
    >
}

templ ActivityTextInput(inputDOMId string, activityName string, activityId uuid.UUID){
    {{textInputName := "activity_input"}}
    @TextInput(&viewmodels.HtmxInput{
        Id: inputDOMId, 
        Name: textInputName, 
        Class: "activity-name", 
        Placeholder: "Activity name",
        Autocomplete: viewmodels.Off,
        Value: activityName,
        HxPut: "/form/json/table/row/activity/name",
        HxVals: jsonmodels.MarshalParamsToJsonField(jsonmodels.UpdateActivityFromInput{ActivityId: activityId, DomName: textInputName}),
        HxTrigger: "input changed delay:200ms",})
}

templ DependencyTextInput(dependencyActivityNames []string, activityId uuid.UUID, projectId uuid.UUID){
    {{textInputName := "activity_input"}}
    @TextInput(&viewmodels.HtmxInput{
        Name: textInputName,
        Class: "dependency-input",
        Placeholder: "Task A, Task B...",
        Autocomplete: viewmodels.Off,
        Value: func() string {
                return strings.Join(dependencyActivityNames, ", ")
            }(),
        HxPost: "/form/json/table/row/activity/dependency/suggestion/component",
        HxVals: jsonmodels.MarshalParamsToJsonField(jsonmodels.UpdateDependencyFromInput{ActivityId: activityId, ProjectId: projectId, DomName: textInputName}),
        HxTrigger: "input changed delay:200ms",
        HxTarget: fmt.Sprintf("#dependency-suggestions-%s", activityId),})
}

templ DurationTextInput(duration time.Duration, activityId uuid.UUID){
    {{textInputName := "duration_input"}}
    @TextInput(&viewmodels.HtmxInput{
        Name: textInputName, 
        Placeholder: "e.g. 2h",
        Value: duration.String(),
        HxPut: "/form/json/table/row/activity/duration",
        HxVals: jsonmodels.MarshalParamsToJsonField(jsonmodels.UpdateActivityFromInput{ActivityId: activityId, DomName: textInputName}),
        HxTrigger: "input changed delay:200ms",})
}