package view

import (
    "github.com/gtantech/p2/internal/models/viewmodels"
    "github.com/gtantech/p2/internal/models/jsonmodels"
)

import "fmt"

templ DependencyTable(table *viewmodels.Table){
    <table>
        <thead>
            <tr>
                <th class="task-column">
                    Task
                </th>
                <th class="dependency-column">
                    Dependencies
                </th>
                <th class="duration-column">
                    Duration
                </th>
                <th class="action-column">
                </th>
            </tr>
        </thead>

        <tbody id="task-table-body">
            for i, row := range table.Rows{
                <!--
                    Task row
                -->
                if i < len(table.Rows)-1{
                    @DependencyTableRow(&row, &table.Rows[i+1].SortRank)
                }else{
                    @DependencyTableRow(&row, nil)
                }
            }
        </tbody>
    </table>
}

templ DependencyTableRow(row *viewmodels.TableRow, nextRowSortRank *int64){
    <tr class="activity-row">
        <!-- activity name -->
        <td>
            @ActivityTextInput(fmt.Sprintf("activity-input-%s", row.ActivityId.String()), row.ActivityName, row.ActivityId)
        </td>
        
        <!-- Dependencies -->
        <td>
            @DependencyTextInput(row.PredecessorActivities)
        </td>
        
        <!-- Duration -->
        <td>
            @DurationTextInput(row.Duration)
        </td>
        
        <!-- Add row -->
        <td>
            <div class="actions">
                @DependencyTableRowAddButton(viewmodels.HtmlDependencyTableRowButton{
                    Class: "add-button", 
                    Title: "Add task", 
                    Text: "+",
                    HxPost: "/component/table/row/empty",
                    HxVals: marshalParamsToJsonField(jsonmodels.CreateEmptyTableRow{ProjectId: row.ProjectId, PreviousRowSortRank: &row.SortRank, NextRowSortRank: nextRowSortRank}),
                })
            </div>
        </td>
    </tr>
}