package view

import "strings"
import "uuid"
import "fmt"
import "github.com/gtantech/p2/internal/models"

templ displayDependenciesToAdd(activities []models.Activity, successorActivityId string){
    <ul>
        for _, item := range activities {
            <li><button type="button" value={item.Id.String()}>{item.DisplayName}</button></li>
        }
    </ul>
}

templ displayDependenciesToAddNotFound(){
    <ul>
        <li>Activity not found</li>
    </ul>
}

templ displayDependencyTable(table *models.Table, projectId uuid.UUID){
    <table>
        <thead>
            <tr>
                <th class="task-column">
                    Task
                </th>
                <th class="dependency-column">
                    Dependencies
                </th>
                <th class="duration-column">
                    Duration
                </th>
                <th class="action-column">
                </th>
            </tr>
        </thead>

        <tbody id="task-table-body">
            for _, row := range table.Rows{
                <!--
                    Task row
                -->
                @displayDependencyTableRow(row, projectId)
            }
        </tbody>
    </table>
}

templ displayDependencyTableRow(row *models.TableRow, projectId uuid.UUID){
    <tr class="task-row">
    <!-- Task name -->
    <td>
        <input
            type="text"
            name="activity_input"
            class="task-name"
            placeholder="Task name"
            autocomplete="off"
            value={row.Activity.DisplayName}
            hx-put={ fmt.Sprintf("/api/table/row/activity/%v/name", row.Activity.Id) }
            hx-trigger="input changed delay:200ms"
        >
    </td>
    <!-- Dependencies -->
    <td>
        <div class="dependency-wrapper">
            <input
                type="text"
                name="dependency_input"
                class="dependency-input"
                placeholder="Task A, Task B..."
                autocomplete="off"
                value={
                    func() string {
                        values := make([]string, len(row.Dependencies))
                        for i, dependency := range row.Dependencies {
                            values[i] = dependency.DisplayName
                        }
                        return strings.Join(values, ", ")
                    }()
                } 
                hx-put={ fmt.Sprintf("/api/table/row/activity/%v/dependency", row.Activity.Id) }
                hx-trigger="input changed delay:500ms"
            >
            <!--
                Go server will return suggestions here.
            -->
            <div class="autocomplete"></div>
        </div>
    </td>
    <!-- Duration -->
    <td>
        <input
            type="text"
            name="duration_input"
            placeholder="e.g. 2h"
            value={row.Activity.Duration.String()}
            hx-put={ fmt.Sprintf("/api/table/row/activity/%v/duration", row.Activity.Id) }
            hx-trigger="input changed delay:200ms"
        >
    </td>
    <!-- Add row -->
    <td>
        <div class="actions">
            <button
                type="button"
                class="add-button"
                title="Add task"
                
                hx-post={ fmt.Sprintf("/component/table/row/empty") }
                hx-vals={ marshalParams(toPostEmptyTableRow(row)) }
                hx-target="closest tr"
                hx-swap="afterend"
            >
                +
            </button>
        </div>
    </td>
</tr>
}