package view

import (
    "github.com/gtantech/p2/internal/models/viewmodels"
	"uuid"
)

import "fmt"

templ DependencyTable(table *viewmodels.Table){
    <table>
        <thead>
            <tr>
                <th class="task-column">
                    Task
                </th>
                <th class="dependency-column">
                    Dependencies
                </th>
                <th class="duration-column">
                    Duration
                </th>
                <th class="action-column">
                </th>
            </tr>
        </thead>

        <tbody id="task-table-body">
            for i, row := range table.Rows{
                <!--
                    Task row
                -->
                if i < len(table.Rows)-1{
                    @DependencyTableRow(&row, &table.Rows[i+1].SortRank)
                }else{
                    @DependencyTableRow(&row, nil)
                }
            }
        </tbody>
    </table>
}

templ DependencyTableRowSuggestionDiv(activityId uuid.UUID){
    <div
        id={ fmt.Sprintf("dependency-suggestions-%s", activityId) }
        class="autocomplete"
        role="listbox"
    >
    </div>
}

templ DependencyTableRow(row *viewmodels.TableRow, nextRowSortRank *int64){
    <tr class="activity-row">
        <!-- activity name -->
        <td>
            @ActivityTextInput(fmt.Sprintf("activity-input-%s", row.ActivityId.String()), row.ActivityName, row.ActivityId)
        </td>
        
        <!-- Dependencies -->
        <td>
            @DependencyTextInput(row.PredecessorActivities, row.ActivityId, row.ProjectId)
            @DependencyTableRowSuggestionDiv(row.ActivityId)
        </td>
        
        <!-- Duration -->
        <td>
            @DurationTextInput(row.Duration, row.ActivityId)
        </td>
        
        <!-- Add row -->
        <td>
            <div class="actions">
                @DependencyTableRowAddButton(row.ProjectId, &row.SortRank, nextRowSortRank)
            </div>
        </td>
    </tr>
}