package template


templ Button(params *htmxButton){
    <button
        type="button"
        class={ params.Class }
        title={ params.Title }
        { params.hx... }
    >
        { params.Text }
    </button>
}