package template

templ TextInput(params *htmxInput){
    <input
        id={ params.Id }
        type="text"
        name={ params.Name }
        class={ params.Class }
        placeholder={ params.Placeholder }
        autocomplete={ params.Autocomplete }
        value={ params.Value }
        { params.hx... }
    >
}
